streamlit==1.32.2

langchain==0.1.20
langchain-community==0.0.38
langchain-groq==0.1.3
langchain-huggingface==0.0.3

chromadb==0.4.24

sentence-transformers==2.7.0
torch==2.2.2



tiktoken
unstructured
requests
beautifulsoup4
lxml
html5lib
protobuf==4.25.3
python-dotenv
